{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Cameras{% endblock %}

{% block body %}
    {% import 'AppBundle::macros.html.twig' as helper %}

    <div class="row">

        {% for camera in cameras %}

            <div class="col-md-6">
                <div class="text-center">
                    <a href="{{ path('live', {name: camera}) }}">
                        <img
                                class="live img-responsive"
                                data-src="{{ path('last', {name: camera, size: constant('AppBundle\\Services\\Camera::SIZE_SMALL')}) }}"
                                src="{{ path('last', {name: camera, size: constant('AppBundle\\Services\\Camera::SIZE_SMALL')}) }}"
                        />
                        <div>{{ camera }}</div>
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block script %}
    {% import 'AppBundle::macros.html.twig' as helper %}

    {{ helper.camera_js() }}

{% endblock %}
