{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ name }}'s history{% endblock %}
{% block body_title %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="h1">{{ name }}'s history</div>
        </div>
        <div class="col-md-8">
            <div id="filters" class="pull-right form-inline">
                {{ form_start(filters) }}
                <div class="row">
                    <div class="col-md-3">
                        From: {{ form_widget(filters.from) }}
                    </div>
                    <div class="col-md-3">
                        To: {{ form_widget(filters.to) }}
                    </div>
                    <div class="col-md-2">
                        Step: {{ form_widget(filters.step) }}
                    </div>
                    <div class="col-md-2">
                        <br/>
                        {{ form_widget(filters.go) }}
                    </div>
                    <div class="col-m2-2">
                        <br/>
                        <a href="{{ path('live', {name: name}) }}" class="btn btn-primary">
                            Live
                        </a>
                    </div>
                </div>
                {{ form_end(filters) }}
            </div>
        </div>
    </div>

    <br/>

    {% import 'BaseBundle::macros.html.twig' as macros %}

    <div class="row text-center">

        {% for data in pager.currentPageResults %}
            <div class="col-md-2">
                <a href="{{ path('file', {name: name, file: data.file, size: constant('AppBundle\\Services\\Camera::SIZE_LARGE') }) }}" target="_blank">
                    <img src="{{ path('file', {name: name, file: data.file, size: constant('AppBundle\\Services\\Camera::SIZE_SMALL') }) }}" class="img-responsive"/>
                    {{ data.time|date('H:i:s') }}
                </a>
            </div>
        {% endfor %}

    </div>

    {{ macros.pager(pager) }}

{% endblock %}

{% block script %}
{% endblock %}
