{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ name }}{% endblock %}
{% block body_title %}{% endblock %}

{% block body %}
    {% import 'AppBundle::macros.html.twig' as helper %}

    <div class="row">
        <div class="col-md-6">
            <div class="h1">{{ name }}</div>
        </div>
        <div class="col-md-6">
            <div
                    id="search"
                    class="pull-right form-inline"
                    data-endpoint="{{ path('search', {name: name}) }}"
                    data-input="#search select, #search input"
                    data-callback-success="renderSearchResult"
            >
                {{ form_start(search) }}
                {{ form_widget(search.time) }}
                {{ form_end(search) }}
            </div>
        </div>
    </div>

    <div id="live">
        {{ helper.camera_html(name, false) }}

        <div id="slider"></div>
    </div>

    <hr/>

    <h3>Archives</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Filename</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
            <tr>
                <td><a href="{{ path('archive', {name: name, filename: archive.filename}) }}">{{ archive.filename }}</a>
                </td>
                <td>{{ archive.size|formatBytes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>

    <h3>Activity</h3>

    <div id="refresh" data-endpoint="{{ path('refresh', {name: name}) }}" data-output="refresh">
        {{ render(controller('AppBundle:Live:refresh', {name: name})) }}
    </div>

{% endblock %}

{% block script %}
    {% import 'AppBundle::macros.html.twig' as helper %}

    {# Live #}

    {{ helper.camera_js() }}

    {# History #}

    <script type="text/javascript">
        $('#slider').slider({
            min: 0,
            max: {{ constant('AppBundle\\Services\\Camera::SLIDER') }},
            value: {{ constant('AppBundle\\Services\\Camera::SLIDER') }},
            slide: function (event, ui) {
                renderHistory(ui.value);
            }
        });

        function renderHistory(value) {
            $('.live').attr('src', '{{ path('history', {name: name}) }}?tm=' + (Date.now() / 1000 | 0) + '&val=' + value);
        }

    </script>

    {# Search #}

    <script type="text/javascript">

        $('#search select').change(function () {
            $('#search').domAjax();
        });

        function renderSearchResult(elem, response) {
            var slider = $('#slider');
            slider.slider('value', response.slider);
            renderHistory(response.slider);
        }

    </script>

    {# Activity #}

    <script type="text/javascript">

        // setInterval(function () {
        //     $('#refresh').domAjax();
        // }, 1000);

    </script>

{% endblock %}
